.section1 {
  float: left;
  width: 40%;
  margin-top: 5%;
  margin-left: 5%;

}

.section1 img {
  width: 70%;
  margin-top: 20px;
  border-radius: 45%;
  margin-left: 13%;
}

.section1 p {
  margin-top: 5%;
  padding: 30px;
  font-size: 25px;
}

.section2 {
  float: left;
  width: 45%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 12%;
}


 /* Inicio Menu */
 nav {
  background-color: #a82020;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 20px;
  display: block;
}

a:hover {
  background-color: #eb1f1f;
}
 /* Fin de Menu */
