<nav>
  <ul>
    <li><a href="tablero/{{id}}">Inicio</a></li>
    <li><a href="galeria/{{id}}">Cursos</a></li>
    <li><a href="perfil/{{id}}">Perfil</a></li>
  </ul>

  <img src="assets/logoAcademy.png" alt="" id="img">
</nav>

<!-- Imagen y Presentacion -->
<section class="section1">
  <img src="{{ img }}" alt="Usuario">
  <p>{{ info }}</p>
</section>


<!-- cursos terminados -->
<section class="section2">
<h1 class="text-center">Certificados</h1>

  <!-- Galeria -->
  <div class="col p-3 border border-secondary border-success rounded" style=" margin: 1%; margin-left: 0%;
  width: 100%; ">
    <!-- Escanea si tiene elementos el arreglo llamado "imagenes" -->
    <ngb-carousel *ngIf="imgcursosRealizados">
      <!-- Recorre el arreglo llamado "imagenes" -->
      <ng-template ngbSlide *ngFor="let item of imgcursosRealizados">
        <div class="picsum-img-wrapper">
          <img [src]="item" alt="item" style="width: 100%;">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>
