<nav >
  <ul>
    <li><a href="tablero/{{idUsuario}}">Inicio</a></li>
    <li><a href="galeria/{{idUsuario}}">Cursos</a></li>
    <li><a href="perfil/{{idUsuario}}">Perfil</a></li>
  </ul>

  <img src="assets/logoAcademy.png" alt="" id="img">
</nav>

<div class="container-fluid text-center">
  <div class="row">
    <div class="BarraBusqueda">
      <a href="perfil/{{idUsuario}}" class="Perfil" style="text-decoration: none; color: black;">
        <img src="{{ img }}" alt="Usuario">
        <h6> {{ nombre }}</h6>
      </a>
      <input type="text" placeholder="Ingresa el nombre del curso aquí">
      <button type="submit">Buscar</button>
     </div>
  </div>

  <div class="row">
    <div class="col" style="max-width: 80%; margin: 1%; margin-right: 0%; ">
      <div class="ratio ratio-16x9">
        <iframe [src]="safeSrc" title="YouTube video" allowfullscreen></iframe>
      </div>
      <p class="text-center" style="padding-top: 20px;">
        {{curso.info}}
      </p>
    </div>
    <div class="col" style="max-width: 20%; margin: 1%;">
    <div class="col p-3 bg-body-secondary border border-secondary border-success rounded" data-bs-spy="scroll" data-bs-smooth-scroll="true" style=" max-height: 400px; overflow: auto; height: 715px;">
      <div class="row" *ngFor="let item of curso.imageUrl;let indice=index">
        <div *ngIf="indice==url">
          <a class="btn" href="info/{{idUsuario}}/{{id}}/{{indice}}" style="background-color: rgb(206, 207, 207);"><img src="{{item}}" class="img-fluid"></a>
        </div>
        <div *ngIf="indice!=url">
          <a class="btn" href="info/{{idUsuario}}/{{id}}/{{indice}}"><img src="{{item}}" class="img-fluid"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <button href="#" class="btn btn-primary" style="font-size: 20px; margin-top: 20%;">Guardar</button>
    </div>
  </div>
  </div>
</div>

