#columna{
  max-width: 100%;
}
#fila{
  max-width: 100%;
}
#pag{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
#button{
  margin-top: 40px;
}
#img{
  max-width: 100px;
  margin-left: 900px;
  margin-top: -450px;
}
