<nav>
  <ul>
    <li><a href="tablero/{{id}}">Inicio</a></li>
    <li><a href="galeria/{{id}}">Cursos</a></li>
    <li><a href="perfil/{{id}}">Perfil</a></li>
  </ul>

  <img src="assets/logoAcademy.png" alt="" id="img">
</nav>

<!-- Principal -->
<section class="container-fluid text-center">
  <!-- Barra de busqueda -->
  <div class="row">
    <div class="BarraBusqueda">
      <a routerLink="/perfil" class="Perfil">
      <img src="{{ img }}" alt="Usuario">
      <h6> {{ nombre }}</h6>
      </a>

      <input type="text" placeholder="Ingresa el nombre del curso aquí">
      <button type="submit">Buscar</button>
    </div>
  </div>


  <div class="row">
    <!-- Filtros -->
      <div class="col p-3 bg-body-secondary border border-secondary border-success rounded" style="margin: 1%; text-align: left; max-width: 20%;">
        <h2 style="padding: 10px;">Filtros</h2>

        <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                  Hard Skills
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                  Soft Skills
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                  En progreso
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                  Asignados
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                  Español
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                  Ingles
              </label>
            </div>
      </div>

      <!-- Galeria -->
      <div class="col p-3 border border-secondary border-success rounded" style=" margin: 1%; margin-left: 0%;">
        <!-- Escanea si tiene elementos el arreglo llamado "imagenes" -->
        <ngb-carousel>
          <!-- Recorre el arreglo llamado "imagenes" -->
          <ng-template ngbSlide *ngFor="let item of cursos">
              <div class="picsum-img-wrapper">
                  <img src="assets/imgCursos/{{item.image}}" alt="{{ item.image }}" style="width: 90%; ">

                <section class="carousel-caption">
                  <h3 style="color: black;">{{ item.name }}</h3>

                  <s *ngIf="item.estado != 'progreso'">
                    <a class="btn btn-primary" href="#">Iniciar</a>
                  </s>

                  <nav class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" *ngIf="item.estado == 'progreso'">
                    <div class="progress-bar" style="width: {{ item.progreso }}%" >{{ item.progreso }}%</div>
                  </nav>
                </section>
              </div>
          </ng-template>
        </ngb-carousel>
      </div>

    </div>
</section>
